VITE_PAYSTACK_PUBLIC_KEY=pk_live_33dadf4fcc7b6423310fa4217b8d3897055a2b7a
VITE_SUPABASE_URL=https://zisbhfwxaiqtxtkecyow.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inppc2JoZnd4YWlxdHh0a2VjeW93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMTg4NzAsImV4cCI6MjA4NzY5NDg3MH0.l5iHakyIqztJfgIWx-jvCWTLUcowKC09pmxhUeUyeio
VITE_PDF_DOWNLOAD_URL=https://your-actual-pdf-url-here.com/n50k-blueprint.pdf
